<!--<ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/home">
        <i class="fa fa-home fa-fw fa-align" aria-hidden="true"></i>
        <span class="sr-only">Home</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="currentUser && currentUserRole==='teacher'">
      <a class="nav-link" routerLink="/teacherDashboard">
        <i class="fa fa-newspaper-o fa-fw fa-align" aria-hidden="true"></i>
        <span class="sr-only">Dashboard</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="currentUser && currentUserRole==='student'">
      <a class="nav-link" routerLink="/studentDashboard">
        <i class="fa fa-dashboard fa-fw fa-align" aria-hidden="true"></i>
        <span class="sr-only">Dashboard</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/mail">
        <i class="fa fa-envelope fa-fw fa-align" aria-hidden="true"></i>
        <span class="sr-only">Mail</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/calendar">
        <i class="fa fa-calendar fa-fw fa-align" aria-hidden="true"></i>
        <span class="sr-only">Calendar</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/notifications">
        <i class="fa fa-bell fa-fw fa-align" aria-hidden="true"></i>
        <span class="sr-only">Notifications</span>
      </a>
    </li>
</ul>-->
  